.footer {
    padding: 30px 0;
    background-color: @color-2;
    border-top: 10px solid @color-9;
    &__item {
        margin: 14px 0;
        padding: 12px 0 22px 0;
        border-bottom: 1px solid @color-9;
        &:last-of-type {
            border-bottom: none;
        }
    }
    p {
        margin: 0;
        color: @color-0;
        .em(14);
    }
}
