.header {
    margin-top: 20px;
    margin-bottom: 10px;
    @media @max-sm {
        margin-top: 0;
    }
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media @max-sm {
          position: relative;
        }
    }

}
