<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title>ParkingApp</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css?v=2134353" media="screen">
    <link rel="stylesheet" href="assets/css/slick.css?v=2134353" media="screen">
    <link rel="stylesheet" type="text/css" href="assets/css/slick-theme.css?v=2134353"/>
    <link rel="stylesheet" type="text/css" href="assets/css/lightbox.min.css?v=2134353"/>
    <link rel="stylesheet" href="assets/css/main.css?v=2134353" media="screen">
  </head>
  <body>

    {% include 'inc/header.twig' %}

    <div class="c-slider">
      <div class="c-slider__item">
        <img src="assets/img/1_slajd_1920x800.png" alt="" />
      </div>
      <div class="c-slider__item">
        <img src="assets/img/1_slajd_1920x800.png" alt="" />
      </div>
    </div>

    {% include 'inc/navigation.twig' %}

    {% include 'inc/about.twig' %}

    {% include 'inc/advantages.twig' %}

    {% include 'inc/download-full-list.twig' %}

    {% include 'inc/program.twig' %}

    {% include 'inc/offer.twig' %}

    {% include 'inc/our-programs.twig' %}

    {% include 'inc/footer.twig' %}

    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script> -->
    <script type="text/javascript" src="assets/js/slick.min.js"></script>
    <script type="text/javascript" src="assets/js/lightbox.min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
  </body>
</html>
