.img {
  max-width: 100%;
  &.is-right {
    float: right;
    margin: 20px 0 20px 20px;
  }
  &.is-center {
    display: block;
    margin: 0 auto;
  }
}

.font {
  &.is-light {
    font-weight: 300;
  }
  &.is-medium {
    font-weight: 500;
  }
  &.is-bold {
    font-weight: 700;
  }
}

.hidden-xs {
  @media @max-sm {
    display: none;
  }
}
