@keyframes btnLabelMove {
    0% {
        top: 0;
    }
    50% {
        top: -5px
    }
    100% {
      top: 0px;
    }
}

@keyframes footerNavIcon {
  0% {
    top: 0;
  }
  50% {
    top: -5px;
  }
  100% {
    top: 0;
  }
}
