// Breakpoints
@xs: ~"only screen and (max-width: 767px)";
@sm: ~"only screen and (min-width: 768px) and (max-width: 991px)";
@md: ~"only screen and (min-width: 992px) and (max-width: 1199px)";
@lg: ~"only screen and (min-width: 1200px)";

@min-sm: ~"only screen and (min-width: 768px)";
@min-md: ~"only screen and (min-width: 992px)";
@min-lg: ~"only screen and (min-width: 1200px)";

@max-sm: ~"only screen and (max-width: 767px)";
@max-md: ~"only screen and (max-width: 991px)";
@max-lg: ~"only screen and (max-width: 1199px)";
