.c-btn {
    display: inline-block;
    &--label {
        position: relative;
        padding: 0 64px;
        animation-duration: 0.5s;
        span {
            position: relative;
            top: -2px;
            z-index: 2;
            color: @color-0;
            text-decoration: none;
            line-height: 1;
        }
        &::before {
            content: '';
            position: absolute;
            transform: translate(-50%, -50%);
            z-index: 1;
            top: 50%;
            left: 50%;
            background-repeat: no-repeat;
        }
        &:hover {
            animation-name: btnLabelMove;
            text-decoration: none;
        }
    }
    &--label-01 {
        padding: 0;
        width: 338px;
        height: 88px;
        text-align: center;
        @media @max-md {
            margin-bottom: 10px;
        }
        span {
            .em(28);
            line-height: 88px;
        }
        &::before {
            width: 338px;
            height: 88px;
            background-image: url('../img/t5.png');
        }
    }
    &--label-02 {
        padding: 0;
        width: 338px;
        height: 88px;
        text-align: center;
        @media @max-md {
            margin-bottom: 10px;
        }
        span {
            .em(28);
            line-height: 88px;
        }
        &::before {
            width: 338px;
            height: 88px;
            background-image: url('../img/t6.png');
        }
    }
    &--label-03 {
        padding: 0;
        width: 338px;
        height: 88px;
        text-align: center;
        @media @max-md {
            margin-bottom: 10px;
        }
        span {
            .em(28);
            line-height: 88px;
        }
        &::before {
            width: 338px;
            height: 88px;
            background-image: url('../img/t7.png');
        }
    }
    &--label-04 {
        position: relative;
        padding: 0;
        // width: 670px;
        // height: 90px;
        text-align: center;
        // @media @max-md {
        //     width: 470px;
        //     height: 63px;
        // }
        // @media @max-md {
        //     width: 470px;
        //     height: 63px;
        // }
        img {
            max-width: 100%;
        }
        span {
            position: absolute;
            transform: translateY(-55%);
            top: 50%;
            left: 0;
            width: 100%;
            .em(32);
            text-align: center;
            // line-height: 90px;
            @media @max-md {
                .em(16);
                // line-height: 63px;
            }
        }
        // &::before {
        //     width: 670px;
        //     height: 90px;
        //     background-image: url('../img/t13.png');
        //     @media @max-md {
        //         width: 470px;
        //         height: 63px;
        //         background-size: 470px auto;
        //     }
        // }
    }
}
