.c-inset {

}
.c-inset--01 {
  display: flex;
  justify-content: center;
  align-items: center;
  .img {
    display: inline-block;
  }
  .label {
    display: inline-block;
    color: @color-0;
    .em(18);
    text-align: left;
  }
}
