.logo {
    display: inline-block;
    &__title {
        width: 311px;
        height: 71px;
        text-indent: -999em;
        background-image: url('../img/t10.png');
        background-repeat: no-repeat;
        @media @max-sm {
          width: 185px;
          height: 44px;
          max-width: 100%;
          background-size: 185px auto;
        }
    }
}
