.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: inline-block;
        @media @max-sm {
            display: block;
            padding: 10px 15px;
            text-align: right;
            border-bottom: 1px solid lighten(@color-1, 35%);
            transition: background-color 0.3s ease;
            &:hover {
                background-color: lighten(@color-1, 15%);
                a {
                    color: @color-0;
                }
            }
        }
    }
    a {
        display: inline-block;
        color: @color-1;
        .em(16);
        text-decoration: none;
        padding: 0 20px;
        @media @max-sm {
            .em(14);
            transition: color 0.3s ease;
        }
        &:hover {
            text-decoration: none;
        }
    }
}
.nav--primary {
    padding-bottom: 34px;
    background-color: @color-2;
    background-image: url('../img/t2.png');
    background-repeat: repeat-x;
    background-position: bottom;
    @media @max-sm {
        display: none;
    }
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: stretch;
        flex-wrap: wrap;
        overflow: hidden;
        border-bottom: 3px solid @color-3;
    }
    li {
        // float: left;
        transition: background-color 0.3s ease;
        &:first-of-type {
            a {
                padding: 16px 50px;
            }
        }
        // &:last-of-type {
        //     a {
        //         padding-right: 0;
        //     }
        // }
        &:hover {
            background-color: darken(@color-2, 10%);
        }
    }
    a {
        padding: 18px 80px;
        color: @color-0;
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
        }
    }
}
.nav--user-panel {
    @media @min-sm {
        margin-bottom: 30px;
    }
    li {
        padding: 0 5px;
        @media @max-sm {
            display: block;
            border-bottom: 1px solid lighten(@color-1, 35%);
        }
        &:hover {
            a {
                @media @min-sm {
                    color: @color-4;
                    // background-color: @color-1;
                }
            }
        }
        a {
            padding: 10px 15px;
            .em(14);
            border-radius: 5px;
            @media @min-sm {
                transition: color 0.3s ease;
            }
        }
    }
    .icon {
        padding-right: 10px;
        @media @max-sm {
            display: none;
        }
    }
}
.nav--footer {
    @media @max-md {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    li {
        @media @max-md {
            padding: 0;
        }
        &:hover {
            .icon {
                animation-name: footerNavIcon;
            }
        }
    }
    a {
        @media @max-md {
            padding: 20px 10px;
        }
    }
    .icon {
        position: relative;
        display: block;
        margin: 0 auto;
        width: auto;
        height: 24px;
        animation-duration: 0.5s;
    }
    .label {
        display: block;
        margin-top: 10px;
        color: @color-0;
        .em(14);
    }
}
.navbar-toggle {
    width: 48px;
    background: 0 0;
    border: none;
    outline: transparent solid 1px;
    @media @max-sm {}
    @media @min-sm {
        display: none;
    }
    .bar {
        display: block;
        margin-bottom: 8px;
        width: 100%;
        height: 3px;
        background-color: @color-1;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .default {}
    .cross {
        display: none;
        position: relative;
        .bar {
            position: absolute;
            transform: translate(-50%, -50%) rotate(-45deg);
            top: 50%;
            left: 50%;
            width: 36px;
            &:first-child {
                transform: translate(-50%, -50%) rotate(45deg);
            }
            &:last-child {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}
