.section {
    padding: 54px 0;
    &__head {
        .title {
            margin: 0 0 36px;
            color: @color-1;
            .em(25);
            font-style: italic;
        }
    }
    &__body {
        p {
            margin: 0 0 34px;
            color: @color-1;
            .em(18);
            line-height: 1.4;
        }
    }
}
.section--bg-01 {
    background-color: @color-4;
    .section__head {
        .title {
            color: @color-0;
        }
    }
}
.section--bg-02 {
    background-color: @color-5;
    .section__head {
        .title {
            color: @color-0;
        }
    }
}
.section--bg-03 {
    background-image: url('../img/t1.png');
    background-repeat: repeat;
}
.section--bg-04 {
    background-color: @color-6;
    background-image: url('../img/trojkat_ciemniejszy.png');
    background-repeat: repeat;
    .section__head {
        .title {
            color: @color-0;
        }
    }
}
.section--decoration {
    position: relative;
    padding-top: 62px;
    &::before {
        content: '';
        position: absolute;
        transform: translateX(-50%);
        top: 0;
        left: 50%;
        border-color: #ffffff transparent;
        background: transparent;
        border-width: 28px 28px 0 28px;
        border-style: solid;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 34px;
        background-repeat: repeat-x;
        background-position: bottom;
    }
}
.section--decoration-default {
    &::after {
        display: none;
    }
}
.section--decoration-01 {
    &::after {
        background-image: url('../img/t3.png');
    }
}
.section--decoration-02 {
    margin-bottom: 30px;
    &::after {
        bottom: -30px;
        height: 60px;
        background-image: url('../img/t4.png');
    }
}
.section--type-01 {
    .section__head {
        .title {
            text-align: center;
            .em(38);
            font-style: normal;
            font-weight: 500;
        }
    }
}
.section--type-02 {
    .section__body {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.section--flex-body {
    .section__body {
        display: flex;
    }
}
.section--flex-body-1 {
    .section__body {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        @media @max-sm {
          justify-content: space-around;
        }
    }
}
