.c-slider {
  @media @max-sm {
    display: none;
  }
  &__item {
    position: relative;
    overflow: hidden;
    height: 400px;
    img {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
    }
  }
  .slick-prev {
    left: 50px;
    z-index: 9999;
  }
  .slick-next {
    right: 50px;
    z-index: 9999;
  }
  .slick-prev:before, .slick-next:before  {
    font-size: 50px;
  }
}
