.c-tiles {
    &__item {
        @media @min-sm {
            transition: transform 0.3s ease;
            transform: scale(1);
        }
        &:hover {
            @media @min-sm {
                transition: transform 0.3s ease;
                transform: scale(1.02);
            }
        }
    }
}
.c-tiles--01 {
    display: flex;
    flex-wrap: wrap;
    .c-tiles__item {
        padding: 35px 60px;
        text-align: center;
        .icon {
            height: 100px;
            line-height: 100px;
            img {
                vertical-align: bottom;
            }
        }
        .title {
            margin: 20px 0 0;
            color: @color-0;
            .em(26);
            font-weight: 500;
        }
    }
}
.c-tiles--02 {
    .c-tiles__item {
        padding: 20px 10px;
        .icon {
            img {
                width: 100%;
            }
        }
    }
}
.c-tiles--03 {
    display: flex;
    flex-wrap: wrap;
    .c-tiles__item {
        margin: 15px 0;
    }
    .c-tiles__item-body {
        height: 100%;
        background-color: @color-0;
    }
    .icon {
        height: 220px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .c-tile__entry {
        padding: 20px;
    }
    .c-tile__entry-head {
        .title {
            margin: 0 0 10px;
            color: @color-7;
            .em(24);
            font-weight: 500;
            font-style: italic;
        }
        .tags {
            display: block;
            .em(16);
            font-weight: 300;
        }
    }
    .c-tile__entry-body {
        margin-top: 18px;
        p {
            color: @color-7;
            .em(12);
            line-height: 1.6;
        }
        .more {
            position: absolute;
            bottom: 20px;
            right: 40px;
            padding-right: 14px;
            .em(14);
            &:hover {
                text-decoration: none;
            }
            &::after {
                content: '>';
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                right: 0;
                color: @color-8;
                .em(20);
                font-weight: 700;
                font-family: 'Arial';
            }
        }
    }
}
