.user-panel {
    @media @max-sm {
        display: none;
        position: absolute;
        z-index: 9;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0 -15px;
        background-color: @color-0;
        border-bottom: 10px solid @color-1;
    }
    &__nav {
        text-align: right;
    }
    &__data {
        display: flex;
        justify-content: flex-end;
        color: @color-1;
        @media @max-sm {
            margin: 10px 0;
            padding: 0 15px;
        }
        .name {
            margin-right: 14px;
            .em(14);
        }
        .btn {
            color: @color-1;
            .em(14);
            text-decoration: none;
        }
    }
    &__page-nav {
        @media @min-sm {
            display: none;
        }
    }
}
