<section class="section">
  <div class="container">
    <div class="section__head">
      <h2 class="title">Matlandia Junior</h2>
    </div>
    <div class="section__body">
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-8">
          <p class="font is-medium">
            100 animowanych zadań z matematyki dla dzieci w wieku 5-9 lat.
          </p>
          <p class="font is-light">
            Jaki szyfr otwiera szkrzynię ze skarbami? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <p class="font is-medium">
            <i>Matlandia Junior</i>
            to młodsza siostra
            <i>Matlandii</i>
            dla klas 4-6, ktora od wielu lat cieszy się ogromną popularnością w szkołach całej Polski (Lorem ipsum dolor sit amet, consectetur adipiscing elit)
          </p>
          <p class="font is-bold">
            Program będzie dostępny od września 2015 roku.
          </p>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4">
          <img class="img is-center" src="assets/img/t11.png" alt=""/>
        </div>
      </div>
    </div>
  </div>
</section>
