<section class="section section--bg-01 section--decoration section--decoration-01 section--type-01">
  <div class="container">
    <div class="section__head">
      <h2 class="title">Zalety programu</h2>
    </div>

    <div class="section__body">
      <div class="row c-tiles c-tiles--01">
        <div class="col-xs-12 col-sm-6 col-md-4 c-tiles__item">
          <div class="icon">
            <img src="assets/img/t15.png" alt=""/>
          </div>
          <h3 class="title">100 animowanych zadań</h3>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 c-tiles__item">
          <div class="icon">
            <img src="assets/img/t16.png" alt=""/>
          </div>
          <h3 class="title">zadania o zroznicowanym stopniu trudności</h3>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 c-tiles__item">
          <div class="icon">
            <img src="assets/img/t17.png" alt=""/>
          </div>
          <h3 class="title">zmienne dane w zadaniach</h3>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 c-tiles__item">
          <div class="icon">
            <img src="assets/img/t18.png" alt=""/>
          </div>
          <h3 class="title">czytanie na głos</h3>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 c-tiles__item">
          <div class="icon">
            <img src="assets/img/t19.png" alt=""/>
          </div>
          <h3 class="title">motywujące komentarze bohaterow programu</h3>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 c-tiles__item">
          <div class="icon">
            <img src="assets/img/t20.png" alt=""/>
          </div>
          <h3 class="title">medale za wyniki</h3>
        </div>
      </div>
    </div>
  </div>
</section>
