<section class="section section--type-02">
  <div class="container">
    <div class="section__body">
      <img class="img hidden-xs" src="assets/img/t14.png" alt="" />
      <a class="c-btn c-btn--label c-btn--label-04" href="#">
        <img src="assets/img/t13.png" alt="" />
        <span>Pobierz pełną listę działow i tematow</span>
      </a>
    </div>
  </div>
</section>
