<footer class="footer">
  <div class="container">
    <div class="footer__item">
      <ul class="nav nav--footer">
        <li>
          <a href="#">
            <img class="icon" src="./assets/img/1_i.png" alt=""/>
            <span class="label">Pomoc</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img class="icon" src="./assets/img/2_i.png" alt=""/>
            <span class="label">Kontakt</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img class="icon" src="./assets/img/3_i.png" alt=""/>
            <span class="label">Regulamin</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img class="icon" src="./assets/img/4_i.png" alt=""/>
            <span class="label">Zespoł</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img class="icon" src="./assets/img/5_i.png" alt=""/>
            <span class="label">Wymagania systemowe</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__item">
      <p>
        Gdańskie Wydawnictwo Oświatowe społka z ograniczoną odpowiedzialnością sp.k
        <br>
        80-309 Gdańsk, al. Grundwaldzka 411
      </p>
    </div>
    <div class="footer__item">
      <p>
        Copyright &copy; Gdańskie Wydawnictwo Oświatowe
        {{ "now"|date("Y") }}
      </p>
    </div>
  </div>
</footer>
