<header class="header container">
  <div class="header__body ">
    <a class="logo logo--main" href="{{ application.demoUrl }}">
      <h1 class="logo__title">Matlandia Junior</h1>
    </a>

    <button type="button" name="button" class="navbar-toggle">
      <span class="default">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </span>
      <span class="cross">
        <span class="bar"></span>
        <span class="bar"></span>
      </span>
    </button>

    <div class="user-panel">

      <div class="user-panel__page-nav">
        <ul class="nav">
          <li>
            <a href="#">O programie</a>
          </li>
          <li>
            <a href="#">Zobacz program</a>
          </li>
          <li>
            <a href="#">Oferta</a>
          </li>
          <li>
            <a href="#">Nasze programy</a>
          </li>
        </ul>
      </div>

      <div class="user-panel__nav">
        <ul class="nav nav--user-panel">
          <li>
            <a href="#">Wpisz kod</a>
          </li>
          <li>
            <a href="#">Moje dostępy</a>
          </li>
          <li class="nav__icon">
            <a href="#">
              <img class="icon" src="assets/img/icon01.png" alt=""/>
              <span>Koszyk</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="user-panel__data">
        <span class="name">
          {{ user.name }}
          {{ user.surname }}</span>
        <a class="btn" href="#">(wyloguj)</a>
      </div>

    </div>
  </div>
</header>
