<nav class="nav nav--primary">
  <ul class="">
    <li>
      <a href="#">
        <img src="assets/img/home.jpg" alt="" />
      </a>
    </li>
    <li>
      <a href="#">O programie</a>
    </li>
    <li>
      <a href="#">Zobacz program</a>
    </li>
    <li>
      <a href="#">Oferta</a>
    </li>
    <li>
      <a href="#">Nasze programy</a>
    </li>
  </ul>
</nav>
