<section class="section section--bg-03 section--type-01 section--flex-body section--flex-body-1">
  <div class="container">
    <div class="section__head">
      <h2 class="title">Oferta</h2>
    </div>
    <div class="section__body">
      <a class="c-btn c-btn--label c-btn--label-01" href="#"><span>dla ucznia</span></a>
      <a class="c-btn c-btn--label c-btn--label-02" href="#"><span>dla rodzica</span></a>
      <a class="c-btn c-btn--label c-btn--label-03" href="#"><span>dla nauczyciela</span></a>
    </div>
  </div>
</section>
