<section class="section section--bg-04 section--decoration section--decoration-default section--type-01">
  <div class="container">
    <div class="section__head">
      <h2 class="title">Nasze programy</h2>
    </div>

    <div class="section__body">
      <div class="row c-tiles c-tiles--03">
        {% for app in otherApps %}
          <div class="col-sm-6 col-md-4 c-tiles__item">
            <div class="c-tiles__item-body">
              <div class="icon">
                <img src=".{{ app.image }}" alt=""/>
              </div>

              <div class="c-tile__entry">
                <div class="c-tile__entry-head">
                  <h3 class="title">{{ app.name }}</h3>
                  <span class="tags">
                    {{ app.tags }}
                  </span>
                </div>
                <div class="c-tile__entry-body">
                  <p>
                    {{ app.description }}
                  </p>
                  <a class="more" target="_blank" href="{{ app.showMoreUrl }}">zobacz więcej</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
