<section class="section section--bg-02 section--decoration section--decoration-02 section--type-01">
  <div class="container">
    <div class="section__head">
      <h2 class="title">Zobacz program</h2>
    </div>
    <div class="section__body">
      <div class="row c-tiles c-tiles--02">
        <div class="col-sm-6 col-md-4 c-tiles__item">
          <div class="icon programPopup">
            <a href="assets/img/screeny/_automat.png" data-lightbox="program">
              <img src="assets/img/screeny/_automat.png" alt=""/>
            </a>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 c-tiles__item">
          <div class="icon programPopup">
            <a href="assets/img/screeny/_bobry.png" data-lightbox="program">
              <img src="assets/img/screeny/_bobry.png" alt=""/>
            </a>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 c-tiles__item">
          <div class="icon programPopup">
            <a href="assets/img/screeny/_pingwiny.png" data-lightbox="program">
              <img src="assets/img/screeny/_pingwiny.png" alt=""/>
            </a>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 c-tiles__item">
          <div class="icon programPopup">
            <a href="assets/img/screeny/_rakieta.png" data-lightbox="program">
              <img src="assets/img/screeny/_rakieta.png" alt=""/>
            </a>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 c-tiles__item">
          <div class="icon programPopup">
            <a href="assets/img/screeny/_śnieg.png" data-lightbox="program">
              <img src="assets/img/screeny/_śnieg.png" alt=""/>
            </a>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 c-tiles__item">
          <div class="icon programPopup">
            <a href="assets/img/screeny/_zegar.png" data-lightbox="program">
              <img src="assets/img/screeny/_zegar.png" alt=""/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
